section{
    width: 100%;
    height: 100vh;
    line-height: 1.4;
    color: #fff;

     h4{
        width: 50%;
        opacity: 1;
        padding-left:2rem;
        padding-right:2rem;
        line-height: 1.5;
        transition: width 0.5s 1s, opacity 2s 2s;
    }
  }
  .flex-direction-column{
    flex-direction: column;
  }
  .fa-10x{
    font-size: 10em;
  }
  section:first-child{
    background-color: #87D37C;

  }
  
 
  section:nth-child(2){
    background-color: #4ECDC4
  }
  section:nth-child(3){
    background-color: #03A678;
  }
  form{
    width: 600px;
    max-width: 98%;
  }
  .btn-primary{
    background-color: #00E640;
    border-color: #00E640;
  }
