<section class="d-flex justify-content-center align-items-center">
  <i class="fa fa-steam-square fa-10x" aria-hidden="true"></i>
  <h4 class="cipher ">
    我地系一班愛生活愛IT嘅年輕人，對香港科技業充滿期待。 無奈香港多數IT公司模式守舊，一套嘢用10幾年，不停re-use，導致香港IT技術停滯不前。 
    唔系新一代IT人唔肯創新，嘗試新技術，而系公司高層/管理層唔肯打破自己原有嘅嘢，導致年輕人冇法運用自己嘅新技術。
  </h4>
</section>
<section class="d-flex justify-content-center align-items-center">
  <i class="fa fa-desktop fa-10x" aria-hidden="true"></i>
  <h4>
    我地都曾經抱怨 #呢個世界公平咩 。
    最後我地決定自立門戶，將自己學到同掌握到嘅新技術毫無保留甘運用到呢度。
    如果你想尋找freelance做網站/做app。 不妨比個機會我地，我地全部人都系深藏于某D IT 公司嘅資深程序員。
    絕對系蔗渣價錢燒鵝味道，唔好猶豫。
  </h4>
</section>
<app-form></app-form>
<button mat-fab class="chat-button fixed-bottom" [routerLink] = "['/chat']"  >
  <i class="fa fa-comments-o fa-3" aria-hidden="true"></i>
</button>
